body{
    background-image: url("../image/background.png");
    font-family: kanban;
}


.logo {
    float: left;
    margin-right: 20px; 
}

.PageCar img{
    margin-top: 20vh;
    align-items: center;
    width: 80vh;
    height: 50vh;
    filter: brightness(40%);
}



.InputTableContainer {
    width: 50vh;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50vh;
  }
  
 

  
  .InputTableContainer table {
    width: 100%;
    margin-top: 10vh;
    /* margin-left: 10vh; */
  }
  
 
  .InputTableContainer th {
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
  }
  
 
  .InputTableContainer tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1); 
  }
  
  .InputTableContainer tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05); 
  }
  
  
  .InputTableContainer td {
    border: rgba(0, 0, 0, 0.2);  
    text-align: left;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
  }
  

.custom-button-Input{
    background-color: rgba(164, 164, 165, 0.55); 
    color: #fff;
    border-color: #000; 
    border-radius: 20px;
    width: 15vh;
    margin-top: 5vh;
    margin-left: 100vh;   
}

.custom-button-Input :hover{
    background-color: rgba(90, 90, 91, 0.55); 
    border-color: #000;     
}

.InputTableContainer button{
  background-color: red; 
    color: #000;
    border-color: red; 
    border-radius: 5px;
    width: 15vh;
    font-weight: bold;
}


.custom-button-Input :hover{
  background-color: rgba(196, 6, 6, 0.55); 
  border-color: #000;     
}
