body{
    background-image: url("../image/bg.png");
    font-family: kanban;
}


.logo {
    float: left;
    margin-right: 20px; 
}




.PageCar img{
    margin-top: 20vh;
    align-items: center;
    width: 80vh;
    height: 50vh;
    filter: brightness(40%);
}

.welcome h1{
    color: rgb(202, 186, 6);
    font-size: 80px;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}

.welcome a{
    color: yellow;
}
