.bg-body-tertiary {
  background-color: transparent !important; 
}

.nav-link {
    color: white;
    font-weight: bold;
    margin-left: 60px;
    font-size: 20px;
  }

  .navbar-nav {
    margin-left: auto;
  }
