body{
    background-image: url("../image/background.png");
    font-family: kanban;
}


.logo {
    float: left;
    margin-right: 20px; 
}

.PageCar img{
    margin-top: 20vh;
    align-items: center;
    width: 80vh;
    height: 50vh;
    filter: brightness(40%);
}



.TableContainer {
    width: 50vh;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  .TableContainer th {
    background-color: rgba(0, 0, 0, 0.2); 
    color: white; 
  }
  
  
  .TableContainer tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1); 
  }
  
  .TableContainer tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05); 
  
  
  .TableContainer td {
    border: rgba(0, 0, 0, 0.2);  
    text-align: left; 
    padding: 8px; 
    background-color: rgba(0, 0, 0, 0.2); 
    color: white;
  }
  


.custom-button-confirm :hover{
    background-color: rgba(90, 90, 91, 0.55); 
    border-color: #000;     
}
